<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burgerStyle.css" type="text/css" />
		<title>Burgers!</title>
	</head>
	<body>
		{{{ body }}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/assets/js/burgers.js"></script>
	</body>
</html>
