.container, .outerContainer {
    background-color: #FFD06E;
}
h1 {
    position: relative;
    top: 30px;
    color: #F23B02;
    padding-bottom: 30px;
}
#body {
    background-color: #FFD06E;
}
img {
    background: transparent;
}
li {
    position: relative;
    list-style: none;
    left: 110px;
}
.eat, .remove {
    background-color: #3B73AC;
    color: white;
    border-radius: 8px;
    position: relative;
    right: 50px;
}
#create {
    background-color: #3B73AC;
    color: white;
    border-radius: 8px;
    font-size: 150%;
}
input {
    height: 50px;
    width: 250px;
}
h3{
    text-decoration: underline;
}
.status {
    position: relative;
    top: 15px;
}

@media only screen and (max-width: 1000px) {
    li {
        position: relative;
        list-style: none;
        left: 30px;
    }
    .eat, .remove {
        background-color: #3B73AC;
        color: white;
        border-radius: 8px;
        position: relative;
        right: 20px;
    }
}